.cabecalho__menu__hamburger {
    width: 24px;
    height: 24px;
    background-image: url('../images/Menu.svg');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu__hamburger {
    background-image: url("../images/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--menu-item);
}
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista__menu {
    display: block;
}

.lista__menu__titulo, 
.lista__menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}
.lista__menu__link{
    background: var(--menu-item);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__botao, .container__titulo, .opcoes, .container__texto {
    display: none;
}


@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo__negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        display: inline-block;

    }

    .container__titulo {
        font-weight: 400;
    }
    .container__titulo__negrito {
        font-weight: 700;
    }
    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }
    
    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu__hamburger {
        display: none;
    }

    .opcoes__botao:checked ~ .lista__menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~ .opcoes__rotulo > .opcoes__item{
        background: var(--menu-item);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista__menu__item::hover {
        background: var(--menu-item);
    }

    .lista__menu__item::hover > .lista__menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }


}

@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
    
}